

<div class="full" >

  <div class="home">

    <br>
      <input type="text" id="tela" size="20" class="tela"/>
      <br> <br>

      <input type="submit" class="botao" value="1" (click)="inserir(1)"/>
      <input type="submit" class="botao" value="2" (click)="inserir(2)"/>
      <input type="submit" class="botao" value="3" (click)="inserir(3)"/>
      <input type="submit" class="botao" value="/" (click)="inserir('/')"/>
      <br><br>

      <input type="submit" class="botao" value="4" (click)="inserir(4)"/>
      <input type="submit" class="botao" value="5" (click)="inserir(5)"/>
      <input type="submit" class="botao" value="6" (click)="inserir(6)"/>
      <input type="submit" class="botao" value="*" (click)="inserir('*')"/>
      <br><br>

      <input type="submit" class="botao" value="7" (click)="inserir(7)"/>
      <input type="submit" class="botao" value="8" (click)="inserir(8)"/>
      <input type="submit" class="botao" value="9" (click)="inserir(9)"/>
      <input type="submit" class="botao" value="-" (click)="inserir('-')"/>
      <br><br>

      <input type="submit" class="botao" value="0" (click)="inserir(0)"/>
      <input type="submit" class="botao" value="C" (click)="clear()"/>
      <input type="submit" class="botao" value="=" (click)="calcular()"/>
      <input type="submit" class="botao" value="+" (click)="inserir('+')"/>
      <br><br>

  </div>



</div>



